@font-face {
    font-family: 'GEFlow';
    src: url('../fonts/GEFlow.eot') format('embedded-opentype'), url('../fonts/GEFlow.otf') format('opentype'), url('../fonts/GEFlow.woff') format('woff'), url('../fonts/GEFlow.ttf') format('truetype'), url('../fonts/GEFlow.svg#GEFlow') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'GEDinarOne-Medium';
  src: url('../fonts/GEDinarOne-Medium.eot?#iefix') format('embedded-opentype'),  url('../fonts/GEDinarOne-Medium.otf')  format('opentype'),
	     url('../fonts/GEDinarOne-Medium.woff') format('woff'), url('../fonts/GEDinarOne-Medium.ttf')  format('truetype'), url('../fonts/GEDinarOne-Medium.svg#GEDinarOne-Medium') format('svg');
  font-weight: normal;
  font-style: normal;
}

body {
    direction: rtl;
}

footer {
    height: 50px;
}

p {
    font-family: Tahoma, Arial;
    text-align: justify;
    /*padding: 50px;*/
}

h1 {
    font-family: "GEFLOW", Tahoma;
    text-align: center;
    color: #0e2b68;
}

h3 {
    font-family: "GEDinarOne-Medium", Tahoma;
    color: #3f414b;
    padding-bottom: 5px;
    border-bottom:1px solid #c0c0c1;
}


#contentContainer {

}

.waveform {
    width: auto;
    background-color: #0a121a;
}

.waveformControls {
    display: inline-block;
    width: 100%;
    padding: 4px 12px 4px 12px;
    border-left: solid 1px #c0c0c1;
    border-right: solid 1px #c0c0c1;
    background-color: #faf7f7
}

.btn {
    float: left;
    padding: 2px 15px 2px 15px;
    margin-right: 5px;
    font-size: 10px;
}